.Navbar {
    background: #C297B8;
    height: 60px;
    display: 'flex';
    font-family: 'helvetica';
    flex-direction: 'row';
    align-items: flex-end;
    justify-content: flex-end;
    /* background-image: url("../assets/Raven.png"); */

  }
  
  
