.Resume {
    background: color #404340; 
    margin: auto;
    /* height: 25%;
    width: 100%;
    margin: 100%;
    padding: 100%;
    flex-direction: row; */
    }
    body {
        background-color: #fdcff3;
    }
