.Resume {
    background: color #404340; 
    margin: auto;
    height:auto;
    width:auto
    }
   
@keyframes example {
    from {background-color: #fdcff3;}
    to {background: color #de89be; ;}
}
.div-fluid {
    width: 100%;
  }