.Resume {
    background: color #404340; 
    margin: auto;
    background-position: right top;
    }
   
@keyframes example {
    from {background-color: #fdcff3;}
    to {background: color #de89be; ;}
}