.navbar {
    background: 244, 191, 219;
    height: 60px;
    display: 'flex';
    font-family: 'helvetica';
    flex-direction: 'row';
    align-items: flex-end;
    justify-content: flex-end;

  }
  
  
